<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1><a ui-sref="game.page({ id: game._id })">{{game.title}}</a> Dashboard</h1>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-responsive table-group-members">
            <thead>
              <tr>
                <td>Username</td>
                <td>Joined game</td>
                <td>Target</td>
                <td>Assassin</td>
                <td>Status</td>
                <td>Actions</td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="player in game.players track by $index">
                <td><a ui-sref="player.page({ id: player._id })">{{player}}</a></td>
                <td>{{player.join_time}}</td>
                <td>{{player.target}}</td>
                <td>{{player.assassin}}</td>
                <td>{{player.status}}</td>
                <td>
                  <ul class="list-inline">
                    <li><button class="btn btn-default">Assign target</button></li>
                    <li><button class="btn btn-danger">Ban player</button></li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <form role="form">
            <div class="form-group">
              <label for="game-title">Title</label>
              <input type="text" class="form-control" id="game-title" ng-model="formData.title">
            </div>
            <div class="form-group">
              <label for="game-description">Description</label>
              <textarea name="game-description" class="form-control" cols="30" rows="10" ng-model="formData.description"></textarea>
            </div>
            <div class="form-group">
              <button class="btn btn-success" role="button" ng-click="edit()">
                Edit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>