<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <header class="row">
    <div class="col-md-12">
      <h2 class="page-header">Games</h2>
      <nav>
        <ul class="list-inline">
          <li><a ui-sref="game.create">Create a new game</a></li>
          <li><a ui-sref="user.games">View your current games</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="row">
    <div class="col-md-8">
      <h3>Browse games</h3>
    </div>
  </div>
  <div class="row">
    <ul class="list-unstyled">
      <li ng-repeat="game in explore.games">
        {{game.title}}
      </li>
    </ul>
  </div>
</div>
