<div class="row">
  <div class="col-md-12">
    <div class="section-container">
      <div class="section-header">
        <h3>Invite new players to the game</h3>
      </div>
      <div class="section-inner">
        <div class="row">
          <div class="col-md-8">
            <a class="game-join-url" ui-sref="game.page.join({ id: game._id, join_url: game.join_url })">http://localhost:9000/games/{{game._id}}/join/{{game.join_url}}</a>
            <p>Send this link for new players to follow and join the game.</p>
          </div>
          <div class="col-md-4">
            <div class="btn-group-vertical pull-right" if="game.join_url">
              <button class="btn btn-default" ng-click="resetJoinKey()" type="button">Reset join URL</button>
              <button class="btn btn-warning" ng-click="disableJoinUrl()" type="button">Disable new players</button>
            </div>
            <!-- <div class="btn-group-vertical" if="game.join_url == null">
              <button class="btn btn-success" type="button" ng-click="resetJoinKey()">Enable new players</button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>Players</h3>
    <table class="table table-responsive table-group-members">
      <thead>
        <tr>
          <td>Username</td>
          <td>Alias</td>
          <td>Joined game</td>
          <td>Score</td>
          <td>Target</td>
          <td>Assassin</td>
          <td>Alive</td>
          <td>Actions</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="player in game.players track by $index">
          <td><a ui-sref="user.profile({ id: player.user._id })">{{player.user.name}}</a></td>
          <td><a ui-sref="game.page.player({ id: game._id, player_id: player._id })">{{player.alias}}</a></td>
          <td>{{player.join_time | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
          <td>{{player.score}}</td>
          <td>{{player.target}}</td>
          <td>{{player.assassin}}</td>
          <td>{{player.alive}}</td>
          <td>
            <ul class="list-inline">
              <li><button class="btn btn-default" ng-click="assignTarget()">Assign target</button></li>
              <li><button class="btn btn-danger">Ban player</button></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>