<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <header class="row">
    <div class="col-md-12">
      <h2 class="page-header">Games</h2>
      <nav ng-show="isLoggedIn()">
        <ul class="list-inline">
          <li><a ui-sref="game.create">Create a new game</a></li>
          <li><a ui-sref="user.games">View your current games</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="row">
    <div class="col-md-8">
      <h3>Browse games</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul class="list-unstyled">
        <li ng-repeat="game in games">
          <a ui-sref="game.page({ id: game._id })">{{game.title}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
