.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: -webkit-linear-gradient(30deg, #53346D 10%, #000000 90%); /* Chrome 10+, Saf5.1+ */
      background:    -moz-linear-gradient(30deg, #53346D 10%, #000000 90%); /* FF3.6+ */
      background:     -ms-linear-gradient(30deg, #53346D 10%, #000000 90%); /* IE10 */
      background:      -o-linear-gradient(30deg, #53346D 10%, #000000 90%); /* Opera 11.10+ */
      background:         linear-gradient(30deg, #53346D 10%, #000000 90%); /* W3C */
    // background: -webkit-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%); /* Chrome 10+, Saf5.1+ */
    // background:    -moz-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%); /* FF3.6+ */
    // background:     -ms-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%); /* IE10 */
    // background:      -o-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%); /* Opera 11.10+ */
    // background:         linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%); /* W3C */
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}